<section class="cellblock cellblock-white ng-scope">
  <h1 class="text-center">Контактная информация</h1>
  <h3>8 (800) 500-39-56 - звонок по РФ бесплатный</h3>
  <h3>8 (812) 407-30-56 - Санкт-Петербург</h3>
  <h3>8 (499) 110-31-56 - Москва</h3>
  <br>
  <h3>Артем Горшков<br>
    8 (911) 922-96-02</h3>

  <h3>Василий Мусатов<br>
    8 (911) 921-59-26</h3>
<p></p>

<p>E-mail: <a href="mailto:mail@pkasko.com">mail@pkasko.com</a><br>
  Tехподдержка: <a href="mailto: support@pkasko.com">support@pkasko.com</a><br>
  По вопросам сотрудничества: <a href="mailto:a.gorshkov@pkasko.com">a.gorshkov@pkasko.com</a><br>
  По вопросам качества обслуживания и пожеланиям к работе нашего сервиса: <a href="mailto:g.baranova@pkasko.com">g.baranova@pkasko.com</a>
</p>

<h3>Время работы:</h3>

<p>Понедельник-пятница: с 10.00 до 19.00<br>
  Суббота, воскресенье: выходной</p>
</section>
